.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 48px;
  height: 48px;
  margin: auto;
  border-radius: 100%;
  border: 2px solid rgb(20, 20, 20);
  outline: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 2;
}

.hamburger:hover{
  box-shadow: 0 0 20px rgba(255, 255, 255, .5);
}

.hamburger_line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 18px;
  height: 2px;
  background-color: rgb(20, 20, 20);
  -webkit-transition: inherit;
  transition: inherit;
}

.hamburger_line::before, .hamburger_line::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}

.hamburger_line::before {
  top: -5px;
}

.hamburger_line::after {
  top: 5px;
}

.hamburger[aria-expanded="true"] {
  border: 2px solid white;
}

.hamburger[aria-expanded="true"] .hamburger_line {
  background-color: transparent;
}

.hamburger[aria-expanded="true"] .hamburger_line::before, .hamburger[aria-expanded="true"] .hamburger_line::after {
  top: 0;
  background-color: white;
}

.hamburger[aria-expanded="true"] .hamburger_line::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger[aria-expanded="true"] .hamburger_line::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);  
}

.drawer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-color: rgb(20, 20, 20);
  z-index: 1;
}

.drawer-enter {
  transform: translateX(-100%);
}

.drawer-enter-active {
  transform: translateX(0);
  transition: all .3s ease-in-out;
}

.drawer-enter-done {
  transform: translateX(0);
}

.drawer-exit {
  transform: translateX(0);
}

.drawer-exit-active {
  transition: all .3s ease-in-out;
  transform: translateX(-100%);
}

.drawer-exit-done {
  transform: translateX(-100%);
}

.links {
  position: fixed;
  right: 30%;
  left: 30%;
  top: 25%;
  bottom: 25%;
  text-align: center;
}

.link {
  display: inline-block;
  position: relative;
  font-family: 'Anton', sans-serif;
  font-size: 45px;
  font-weight: 100;
  margin-bottom: 50px;
  color: white;
}

.link:hover::before {
  content: "";
  position: fixed;
  display: block;
  margin-top: 32px;
  margin-left: -25px;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
}

#bg-btn {
  position: relative;
  top: 75vh;
}

.btn {
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #fff;
  border-radius: 0;
  background: #252525;
  margin-left: 10px;
  outline: none;
}

.btn span {
  position: relative;
}

.btn:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-95%);
  transform: translateX(-95%);
}

.btn:hover::before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.btn-0:before {
  background: #eb6877;
}

.btn-1:before {
  background: #00b7ee;
}

.btn-2:before {
  background: #EB6100;
}

.btn-3:before {
  background: #BDC3C4;
}

.bg {
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  z-index: 100;
}

.bg .sakura {
  opacity: 0;
  -webkit-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
  -webkit-animation-name: Sakura;
  animation-name: Sakura;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-delay: 0.0s;
  animation-delay: 0.0s;
  position: absolute;
  display: block;
}

@keyframes Sakura {
  0% {
    transform: translateY(-100px) translateX(10px);
    opacity: 1.0;
  }
  100% {
    transform: translateX(200px) translateY(90vh) rotate(540deg);
    opacity: 0.0;
  }
}

.bg .momiji {
  opacity: 0;
  -webkit-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
  -webkit-animation-name: Momiji;
  animation-name: Momiji;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-delay: 0.0s;
  animation-delay: 0.0s;
  position: absolute;
  display: block;
}

@keyframes Momiji {
  0% {
    transform: translateY(-100px) translateX(10px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(200px) translateY(90vh) rotate(540deg);
    opacity: 0.0;
  }
}

.bg .snow {
  opacity: 0;
  -webkit-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
  -webkit-animation-name: Yuki;
  animation-name: Yuki;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
  -webkit-animation-delay: 0.0s;
  animation-delay: 0.0s;
  position: absolute;
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 100px;
  background: #f7f9fb;
}

@keyframes Yuki {
  0% {
      transform: translateY(-100px);
      opacity: 1.0;
  }
  100% {
      transform: translateY(80vh) translateX(200px);
      opacity: 0.0;
  }
}

#main {
  position: relative;
  background-color: rgba(255, 255, 255, .5);
  top: 10%;
  margin: auto;
  height: 75vh;
  width: 450px;
}

.wrapper{
  height: 100%;
  width: 100%;
}

.prof-wrap{
  position: relative;
  top: 50px;
  left: 50%;
  height: 500px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.5);
}

.prof-name{
  position: relative;
  display: block;
  top: 10px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 40px;
}

.prof-hob{
  position: relative;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.prof-his{
  position: relative;
  display: block;
}

.prof-his-left{
  position: relative;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.prof-his-left p{
  display: inline;
}

.prof-his-mid{
  position: relative;
  display: inline-block;
}

.prof-his-mid p{
  display: inline;
}

.prof-his-right{
  position: relative;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.prof-his-right p{
  display: inline;
}

.prof-amb{
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.img-block{
  display: block;
  top: 10%;
  left: 0;
  height: 50%;
  width: 100%;
  text-align: center;
}

.img-icon{
  pointer-events: none;
  position: relative;
  top: 40px;
  border-radius: 50%;
  width:  150px;
  height: 150px;
  border: 9px solid rgba(255, 255, 255, .5);
}

.img-block p{
  position: relative;
  top: 25px;
  font-family: "M PLUS Rounded 1c";
  font-size: 25px;
  font-weight: 700;
}

.EA-block{
  display: block;
  top: 10%;
  height: 20%;
  width: 100%;
  text-align: center;
}

.EA-block p{
  margin-block-start: 0em;
  margin-block-end: 0.5em;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.5px;
  font-size: 22px;
  font-weight: 600;
}

.EA-block .under{
  background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.5) 50%);
}

.icons-block{
  display: block;
  top: 10%;
  height: 30%;
  width: 100%;
  text-align: center;
}

.icons-block path {
  fill: black;
  -webkit-transition: fill 0.3s ease-out;
  -moz-transition: fill 0.3s ease-out;
  -o-transition: fill 0.3s ease-out;
  -ms-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
}

.icons-block svg:hover{
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, .5));
}

.icons-block svg:hover path{
  fill: white;
}

/* main部分 */
.wrapper{
  height: 100%;
  width: 100%;
  text-align: center;
}

.con1{
  position: relative;
  top: 10%;
  left: 10%;
  height: 20vh;
  width: 80vw;
}

.con1 p{
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, .5);
}

footer {
  position: fixed;
  height: 40px;
  width: 100%;
  bottom: 0;
  background-color: rgb(20, 20, 20);
  color: white;
  text-align: center;
}

footer p{
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}